{% extends "base.html" %}
{% block page_content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
</head>

<script>

    function init_task(pop_id, init_button) {

        $.ajax({
            type: 'POST',
            url: '/init_evolution_task/' + pop_id,
            success: function(results) {
                if (results.no_workers) {
                    window.alert("There are no active workers");
                }
            },
            error: function() {
            }
        });
    }

</script>

<h2>Populations:</h2>
{% for population in populations %}
    <div id="pop_div" class="population_div">
        <h3>Population name: {{ population.name }}</h3>
        <div></div>
        {{ population.as_table() }}
        <div class="row">
            <div class="column">
                <form id="pop_form_{{ loop.index }}"
                      action="{{ url_for('main.population_details',
                                          population_name=population.name,
                                          plotting_variant='default') }}"
                      method="get">
                    <input type="submit" value="View population dashboard"/>
                </form>
            </div>
            <div class="column">
            </div>
            <div class="column">
                {% if not population.is_initialized %}
                    <button id="init_pop_btn_{{ loop.index }}"
                            onclick="init_task({{ population['population_id'] }},
                                               init_pop_btn_{{ loop.index }})">
                        Init population
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}